<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313378041655-9p2hlln5kq7vcp7bh3ou2kot3h1pibdk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313378041655-9p2hlln5kq7vcp7bh3ou2kot3h1pibdk</string>
	<key>API_KEY</key>
	<string>AIzaSyCSe9-szHN1aou-ezjF3725GJlrE7Q-Yss</string>
	<key>GCM_SENDER_ID</key>
	<string>313378041655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopsy</string>
	<key>PROJECT_ID</key>
	<string>shopsy-f9b35</string>
	<key>STORAGE_BUCKET</key>
	<string>shopsy-f9b35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313378041655:ios:ce2c51788203bd57b2f4b2</string>
</dict>
</plist>